body {
    background: #121212;
    color: white;
    margin: 0;
    font-family: Arial;
}

header {
    background: #1f1f1f;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.logo { font-size: 24px; font-weight: bold; }

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar input {
    padding: 12px;
    width: 300px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.search-bar button {
    padding: 12px;
    border: none;
    background: red;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    padding: 20px;
    gap: 20px;
}

.movie-card {
    background: #1f1f1f;
    border-radius: 6px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: .3s;
}

.movie-card:hover { transform: scale(1.05); }

.movie-card img {
    width: 100%;
    border-radius: 6px 6px 0 0;
      }
